<div class="container mt-2">
    <div class="row">
        <div class="col-12 col-lg-6">
            <h1 class="bg-light">Create New Event</h1>
                <%= render 'form', event: @event %>

                <%= link_to 'Back', events_path, class: "btn text-light bg-info" %>
        </div>
    </div>
</div>
